<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>CUENTAS BITMONEY</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
	<span sec:authentication="name"></span>
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Slidebar -->
    	<!-- End of Slidebar -->
    	
    	<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
    	
    			<!-- Main Content -->
    			<div id="content">
    			
    				<!-- Topbar -->

					<!-- End of Topbar -->
    			
    				<!-- Begin Page Content -->
    				<div class="container-fluid">
    				<div class="col-md-12 column" align="center">
    				
    					<!-- Page Heading -->
						<h1 class="h3 mb-4 text-gray-800">REVISA LAS CUENTAS QUE TENEMOS PARA TI..!</h1>
    					<img th:src="@{/imagenes/d.jpg}" width="400" height="200" alt="logo1" align="middle"></img>
				<p></p>
				</div>
    					<!--
    					<a th:href="@{/cuenta/irRegistrar}"
    					class="btn btn-danger btn-xs">Cuentas</a>
    					 -->
    					
    					<hr class="sidebar-divider">
    					
    					<table class="table table-striped" id="tab_logic">
							<thead class="thead-dark">
    							<tr>
    								<th class="text-center">NOMBRE CUENTA</th>
								<th class="text-center">DESCRIPCION</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr th:each="pro: ${listCuentas}">
								<td th:text="${pro.nombreCuenta}"></td>
								<td th:text="${pro.descripcionCuenta}"></td>
    						<!--
    								<td><a th:href="@{/cuenta/eliminar?id=}+${pro.idCuenta}">Eliminar</a></td>    								
    								<td><a th:href="@{'/cuenta/modificar/'}+${pro.idCuenta}">Modificar</a></td>
    							-->
    							</tr>
    						</tbody>
    					</table> 
    					
    				</div>
    				<!-- /.container-fluid -->
    				
    			</div>
    			<!-- End of Main Content -->
    			
    			<div th:if="${mensaje}" class="alert alert-danger">
    				<p th:text="${mensaje}"></p>
    			</div>
    			
			<!-- Footer -->
			
			<!-- End of Footer -->
			
    	</div>
    	<!-- End of Content Wrapper -->
    	
    	</div>
    	<!-- End of Page Wrapper -->
    	
    <!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
    	
	</body>

</html>